<div>
  <div ng-if="!config.repository" class="alert alert-info">
    Please configure a repository
  </div>
  <div ng-if="vm.repository.status == 404 || vm.repository.status == 500" class="alert alert-danger">
    <b>Error {{vm.repository.status}}</b> the endpoint could not be reached, this could mean that the selected repository does not exist
  </div>
  <div ng-if="config.repository">
    <ul class="media-list">
      <li class="media" ng-repeat="commit in vm.commits">
        <div ng-if="vm.gravatarHash(commit)" class="media-left">
          <img class="media-object img-thumbnail" ng-src="http://www.gravatar.com/avatar/{{vm.gravatarHash(commit)}}?s=64&d=identicon" alt="">
        </div>
        <div class="media-body">
          <!--h4 class="media-heading">Media heading</h4-->
          <p ng-bind-html="commit.description"></p>
          <small>{{commit.author.name}}, {{commit.date | date: 'yyyy-MM-dd HH:mm'}}</small>
        </div>
      </li>
    </ul>
  </div>

</div>


