<div>
  <div ng-if="!config.repository" class="alert alert-info">
    Please configure a repository
  </div>
  <div ng-if="vm.repository.status == 404 || vm.repository.status == 500" class="alert alert-danger">
    <b>Error {{vm.repository.status}}</b> the endpoint could not be reached, this could mean that the selected repository does not exist
  </div>
  <div ng-if="config.repository">
    <ul class="media-list">
      <li class="media" ng-repeat="commit in vm.commits">
        <div style="background-color: rgb(27, 125, 170); color: rgb(255, 255, 255); display: inline-block; font-size: 28px;float:left; margin-right: 10px; font-weight: normal; height: 65px; line-height: 65px; border-radius: 5px; text-align: center; vertical-align: top; width: 65px;">
          {{vm.userShorthand(commit.author)}}
        </div>
        <div class="media-body">
          <!--h4 class="media-heading">Media heading</h4-->
          <b><p ng-bind-html="commit.description"></p></b>
          <small>{{commit.author.name}}, {{commit.date | date: 'yyyy-MM-dd HH:mm'}}</small>
        </div>
      </li>
    </ul>
  </div>

</div>


