<form role="form">
  <div class="form-group">
    <label for="repository">Repository</label>
    <span class="glyphicon glyphicon-info-sign ng-scope"
          uib-tooltip-html="repositoryTooltip"
          tooltip-is-open="repositoryTooltipIsOpen"
          tabindex="0"
          ng-focus="repositoryTooltipIsOpen = !repositoryTooltipIsOpen"
          tooltip-trigger="outsideClick"
          ng-mouseover="repositoryTooltipIsOpen = !repositoryTooltipIsOpen"
          tooltip-placement="top"
          aria-label="Select a repository"></span>
    <select name="repository" id="repository" class="form-control" ng-model="config.repository" required>
      <option ng-repeat="repository in vm.repositories | orderBy: 'name'" value="{{repository.id}}">
        {{repository.name}}
      </option>
    </select>
  </div>
</form>
