<div>
  <div ng-if="!vm.activities" class="alert alert-info">
    There are no activities for your available repositories.
  </div>
  <div ng-if="vm.status == 404 || vm.status == 500" class="alert alert-danger">
    <b>Error {{vm.status}}:</b> The endpoint could not be reached, this could mean that the activity plugin is not installed.
  </div>
    <div ng-if="vm.activities">
    <ul class="media-list">
      <li class="media" ng-repeat="activity in vm.activities">
          <div class="media-left">
            <div style="background-color: rgb(27, 125, 170); color: rgb(255, 255, 255); display: inline-block; font-size: 28px; font-weight: normal; height: 65px; line-height: 65px; border-radius: 5px; text-align: center; vertical-align: top; width: 65px;">
              {{vm.userShorthand(activity)}}
            </div>
        </div>
        <div class="media-body">
          <!--h4 class="media-heading">Media heading</h4-->
          <b>{{activity.repoName}}</b>
          <p ng-bind-html="activity.changeset.description"></p>
          <small>{{activity.changeset.author.name}}, {{activity.changeset.date | date: 'yyyy-MM-dd HH:mm'}}</small>
        </div>
      </li>
    </ul>
    </div>
</div>
